source https://www.nuget.org/api/v2

nuget Fake
nuget FSharp.Charting 0.90.13 framework: >= net452
nuget FSharp.Core 3.1.2.5 framework: >= net452
nuget FSharp.Data 2.3.0
nuget FsUnit 2.1.0 framework: >= net452
nuget NUnit 3.2.0 framework: >= net452
nuget Suave 1.1.2 framework: >= net452
nuget Zlib.Portable 1.11.0 framework: >= net452